<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyblog.comment.Dao.CommentDao">
    <sql id="commentCommonsValue">
        <if test="id != null">
            id = #{id},
        </if>
        <if test="name != null">
            name = #{name},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="replyId != null">
            reply_id = #{replyId},
        </if>
        <if test="ip != null">
            ip = #{ip},
        </if>
        <if test="type != null">
            type = #{type},
        </if>
        <if test="status != null ">
            status = #{status},
        </if>
        <if test="readStatus != null ">
            read_status = #{readStatus},
        </if>
        <if test="time != null ">
            time = #{time},
        </if>
    </sql>

    <sql id="commentQueryValue">
        <if test="comment.id != null">
            and id = #{comment.id}
        </if>
        <if test="comment.articleId != null">
            and article_id = #{comment.articleId}
        </if>
        <if test="comment.name != null">
            and name = #{comment.name}
        </if>
        <if test="comment.email != null">
            and email = #{comment.email}
        </if>
        <if test="comment.replyId != null">
            and reply_id = #{comment.replyId}
        </if>
        <if test="comment.ip != null">
            and ip = #{comment.ip}
        </if>
        <if test="comment.type != null">
            and type = #{comment.type}
        </if>
        <if test="comment.status != null ">
            and status = #{comment.status}
        </if>
        <if test="comment.readStatus != null ">
            and read_status = #{comment.readStatus}
        </if>
        <if test="comment.time != null ">
            and time = #{comment.time}
        </if>
    </sql>

    <sql id="insertCommentColumn">
        <if test="objectId != null">
            object_id,
        </if>
        <if test="articleId != null">
            article_id,
        </if>
        <if test="name != null">
            name,
        </if>
        <if test="email != null">
            email,
        </if>
        <if test="replyId != null">
            reply_id,
        </if>
        <if test="time != null">
            time,
        </if>
        <if test="ip != null">
            ip,
        </if>
        <if test="type!=null">
            type,
        </if>
        <if test="status != null">
            status,
        </if>
        <if test="readStatus != null">
            read_status,
        </if>
    </sql>
    <sql id="insertCommentValue">
        <if test="objectId != null">
            #{objectId},
        </if>
        <if test="articleId != null">
            #{articleId},
        </if>
        <if test="name != null">
            #{name},
        </if>
        <if test="email != null">
            #{email},
        </if>
        <if test="replyId != null">
            #{replyId},
        </if>
        <if test="time != null">
            #{time},
        </if>
        <if test="ip != null">
            #{ip},
        </if>
        <if test="type!=null">
            #{type},
        </if>
        <if test="status != null">
            #{status},
        </if>
        <if test="readStatus != null">
            #{readStatus},
        </if>
    </sql>

    <sql id="selectCommentField">
        id, article_id, name, email, object_id, reply_id, time, ip, type, status, read_status
    </sql>

    <insert id="insertComment">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertCommentColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertCommentValue"/>
        </trim>
    </insert>

    <update id="updateComment">
        update comment
        <set>
            <include refid="commentCommonsValue"></include>
        </set>
        where id = #{id}
    </update>

    <select id="queryRows" resultType="int">
        select count(*)
        from comment
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commentQueryValue"></include>
        </trim>
    </select>

    <select id="queryAll" parameterType="Comment" resultType="Comment">
        select <include refid="selectCommentField"></include>
        from comment
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commentQueryValue"></include>
        </trim>
        <if test="orderMode!=null">
            order by ${orderMode.column} ${orderMode.dir}
        </if>
        <if test="page!=null">
            limit #{page.offset}, #{page.limit}
        </if>
    </select>
</mapper>